<div class="row">
    <div class="col-sm-10">
        <form>
            <div class="form-group">
                <input type="text" 
                    placeholder="Search"
                    ng-model="search"
                    ng-change="searchChanged()"
                    typeahead-on-select="searchChanged()"
                    uib-typeahead="user.name for user in users | filter:$viewValue"
                    typeahead-select-on-blur="true"
                    class="form-control">
            </div>
        </form>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-success" ng-click="addUser()">Add</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul dnd-list="users">
            <li ng-repeat="item in users"
                dnd-draggable="item"
                dnd-moved="users.splice($index, 1)"
                dnd-effect-allowed="move"
                >
                <div class="row">
                    <div class="col-sm-9" ng-click="editUser(item)">
                        {{item.id}} - {{item.name}} - {{item.email}}
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-info" ng-click="editUser(item)">Edit</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteUser(item)">Delete</button>
                    </div>
                </div>
                
            </li>
        </ul>
    <div>
</div>