<div class="modal-header">
    <h3 class="modal-title">User info</h3>
</div>
<div class="modal-body">
    <form name="form">
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control"
                placeholder="Email" ng-model="user.email" required>
        </div>
        <div class="form-group">
            <label>Full name</label>
            <input type="text" class="form-control" placeholder="Full name"  ng-model="user.name" required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"  type="button" ng-click="ok()" ng-disabled="form.$invalid">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>